* {
    font-style: normal;
    font-family: Lato, monospace;
    color: white;
}

#mode_selection {
    font-size: 24px;
}

section {
    margin: 24px 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url(station-min.png);
    backdrop-filter: blur(20px) brightness(30%);
}

header {
    display: flex;
    padding: 8px 24px;
    font-size: 36px;
}

#game_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mode_selection {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
}

.game_mode_buttons {
    font-size: 18px;
    padding: 24px 48px;
    border-radius: 16px;
    background-color: #010144;
    border: #010144 3px solid;
}

.game_mode_buttons:hover {
    transition: border .2s;
    cursor: pointer;
    border: white 3px solid;
}

